In [ ]:
spark

Intitializing Scala interpreter ...

In [1]:
val df = spark
  .readStream
  .format("kafka")
  .option("kafka.bootstrap.servers", "kafka:9093")
  .option("subscribe", "kor_movies")
  .option("startingOffsets", "earliest")
  .load()

df.printSchema()
// complete 모드는 aggregate 연산이 있는 경우만 가능하므로 append 모드로 설정
val ds = df.selectExpr("CAST(key AS STRING)", "CAST(value AS STRING)")
  .as[(String, String)]
  .writeStream
  .outputMode("append")
  .queryName("debug")
  .format("console")
  .option("truncate", "false")
  .start()

// 모든 값들은 value 내에 포함된 json 을 타임에 맞게 읽어줘야 함

Intitializing Scala interpreter ...

Spark Web UI available at http://54cdf564c8c1:4041
SparkContext available as 'sc' (version = 3.2.1, master = local[*], app id = local-1657959006112)
SparkSession available as 'spark'

root
 |-- key: binary (nullable = true)
 |-- value: binary (nullable = true)
 |-- topic: string (nullable = true)
 |-- partition: integer (nullable = true)
 |-- offset: long (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- timestampType: integer (nullable = true)

df: org.apache.spark.sql.DataFrame = [key: binary, value: binary ... 5 more fields]
ds: org.apache.spark.sql.streaming.StreamingQuery = org.apache.spark.sql.execution.streaming.StreamingQueryWrapper@f8fbde9

-------------------------------------------
Batch: 0
-------------------------------------------
+----+-------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|key |value                                                                                                                                                              |
+----+-------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|null|{"movies":{"movie":"movie","title":"title","title_eng":"title_eng","year":0,"grade":"grade"}}                                                                      |
|null|{"movies":{"movie":"10001","title":"시네마 천국","title_eng":"Cinema Paradiso , 1988","year":2013,"grade":"전체 관람가"}}                                          |
|null|{"movies":{"movie":"10002","title":"빽 투 더 퓨쳐","title_eng":"Back To The Future , 1985","year":2015,"grade":"12세 관람가"}}                                     |
|null|{"movies":{"movie":"10003","title":"빽 투 더 퓨쳐 2","title_eng":"Back To The Future Part 2 , 1989","year":2015,"grade":"12세 관람가"}}                            |
|null|{"movies":{"movie":"10004","title":"빽 투 더 퓨쳐 3","title_eng":"Back To The Future Part III , 1990","year":1990,"grade":"전체 관람가"}}                          |
|null|{"movies":{"movie":"10005","title":"스타워즈 에피소드 4 - 새로운 희망","title_eng":"Star Wars , 1977","year":1997,"grade":"PG"}}                                   |
|null|{"movies":{"movie":"10006","title":"스타워즈 에피소드 5 - 제국의 역습","title_eng":"Star Wars Episode V: The Empire Strikes Back , 1980","year":1997,"grade":"PG"}}|
|null|{"movies":{"movie":"10007","title":"스타워즈 에피소드 6 - 제다이의 귀환","title_eng":"Star Wars: Episode VI: Return Of The Jedi , 1983","year":1997,"grade":"PG"}} |
|null|{"movies":{"movie":"10008","title":"슈퍼맨","title_eng":"Superman , 1978","year":1979,"grade":"PG"}}                                                               |
|null|{"movies":{"movie":"10009","title":"슈퍼맨 2","title_eng":"Superman II , 1980","year":1981,"grade":"PG"}}                                                          |
|null|{"movies":{"movie":"10010","title":"슈퍼맨 3","title_eng":"Superman III , 1983","year":0,"grade":"전체 관람가"}}                                                   |
|null|{"movies":{"movie":"10011","title":"슈퍼맨 4 - 최강의 적","title_eng":"Superman IV: The Quest For Peace , 1987","year":1990,"grade":"전체 관람가"}}                |
|null|{"movies":{"movie":"10012","title":"다이 하드","title_eng":"Die Hard , 1988","year":1988,"grade":"15세 관람가"}}                                                   |
|null|{"movies":{"movie":"10013","title":"킹콩","title_eng":"King Kong , 1976","year":1977,"grade":"12세 관람가"}}                                                       |
|null|{"movies":{"movie":"10014","title":"금지된 장난","title_eng":"Jeux Interdits , Forbidden Games , 1952","year":1992,"grade":"12세 관람가"}}                         |
|null|{"movies":{"movie":"10015","title":"타워링","title_eng":"The Towering Inferno , 1974","year":2012,"grade":"PG"}}                                                   |
|null|{"movies":{"movie":"10016","title":"나 홀로 집에","title_eng":"Home Alone , 1990","year":1991,"grade":"전체 관람가"}}                                              |
|null|{"movies":{"movie":"10017","title":"셰인","title_eng":"Shane , 1953","year":1956,"grade":"NR"}}                                                                    |
|null|{"movies":{"movie":"10018","title":"이티","title_eng":"The Extra-Terrestrial , E.T. , 1982","year":2011,"grade":"전체 관람가"}}                                    |
|null|{"movies":{"movie":"10019","title":"내일을 향해 쏴라","title_eng":"Butch Cassidy And The Sundance Kid , 1969","year":1970,"grade":"15세 관람가"}}                  |
+----+-------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

-------------------------------------------
Batch: 1
-------------------------------------------
+-----+--------------------------------------------------------------------------------------------------------------------------------------------------------+
|key  |value                                                                                                                                                   |
+-----+--------------------------------------------------------------------------------------------------------------------------------------------------------+
|movie|{"movie":"movie","title":"title","title_eng":"title_eng","year":0,"grade":"grade"}                                                                      |
|10001|{"movie":"10001","title":"시네마 천국","title_eng":"Cinema Paradiso , 1988","year":2013,"grade":"전체 관람가"}                                          |
|10002|{"movie":"10002","title":"빽 투 더 퓨쳐","title_eng":"Back To The Future , 1985","year":2015,"grade":"12세 관람가"}                                     |
|10003|{"movie":"10003","title":"빽 투 더 퓨쳐 2","title_eng":"Back To The Future Part 2 , 1989","year":2015,"grade":"12세 관람가"}                            |
|10004|{"movie":"10004","title":"빽 투 더 퓨쳐 3","title_eng":"Back To The Future Part III , 1990","year":1990,"grade":"전체 관람가"}                          |
|10005|{"movie":"10005","title":"스타워즈 에피소드 4 - 새로운 희망","title_eng":"Star Wars , 1977","year":1997,"grade":"PG"}                                   |
|10006|{"movie":"10006","title":"스타워즈 에피소드 5 - 제국의 역습","title_eng":"Star Wars Episode V: The Empire Strikes Back , 1980","year":1997,"grade":"PG"}|
|10007|{"movie":"10007","title":"스타워즈 에피소드 6 - 제다이의 귀환","title_eng":"Star Wars: Episode VI: Return Of The Jedi , 1983","year":1997,"grade":"PG"} |
|10008|{"movie":"10008","title":"슈퍼맨","title_eng":"Superman , 1978","year":1979,"grade":"PG"}                                                               |
|10009|{"movie":"10009","title":"슈퍼맨 2","title_eng":"Superman II , 1980","year":1981,"grade":"PG"}                                                          |
|10010|{"movie":"10010","title":"슈퍼맨 3","title_eng":"Superman III , 1983","year":0,"grade":"전체 관람가"}                                                   |
|10011|{"movie":"10011","title":"슈퍼맨 4 - 최강의 적","title_eng":"Superman IV: The Quest For Peace , 1987","year":1990,"grade":"전체 관람가"}                |
|10012|{"movie":"10012","title":"다이 하드","title_eng":"Die Hard , 1988","year":1988,"grade":"15세 관람가"}                                                   |
|10013|{"movie":"10013","title":"킹콩","title_eng":"King Kong , 1976","year":1977,"grade":"12세 관람가"}                                                       |
|10014|{"movie":"10014","title":"금지된 장난","title_eng":"Jeux Interdits , Forbidden Games , 1952","year":1992,"grade":"12세 관람가"}                         |
|10015|{"movie":"10015","title":"타워링","title_eng":"The Towering Inferno , 1974","year":2012,"grade":"PG"}                                                   |
|10016|{"movie":"10016","title":"나 홀로 집에","title_eng":"Home Alone , 1990","year":1991,"grade":"전체 관람가"}                                              |
|10017|{"movie":"10017","title":"셰인","title_eng":"Shane , 1953","year":1956,"grade":"NR"}                                                                    |
|10018|{"movie":"10018","title":"이티","title_eng":"The Extra-Terrestrial , E.T. , 1982","year":2011,"grade":"전체 관람가"}                                    |
|10019|{"movie":"10019","title":"내일을 향해 쏴라","title_eng":"Butch Cassidy And The Sundance Kid , 1969","year":1970,"grade":"15세 관람가"}                  |
+-----+--------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

-------------------------------------------
Batch: 2
-------------------------------------------
+-----+------------------------------------------------------------------------------------------------------------------------------------+
|key  |value                                                                                                                               |
+-----+------------------------------------------------------------------------------------------------------------------------------------+
|10085|{"movie":"10085","title":"폴리스 아카데미 6","title_eng":"Police Academy 6: City Under Siege , 1989","year":0,"grade":"PG"}         |
|10086|{"movie":"10086","title":"미션","title_eng":"The Mission , 1986","year":2019,"grade":"12세 관람가"}                                 |
|10087|{"movie":"10087","title":"토요일 밤의 열기","title_eng":"Saturday Night Fever , 1977","year":1978,"grade":"청소년 관람불가"}        |
|10088|{"movie":"10088","title":"파이어폭스","title_eng":"Firefox , 1982","year":1983,"grade":"12세 관람가"}                               |
|10089|{"movie":"10089","title":"그리스","title_eng":"Grease , 1978","year":1980,"grade":"12세 관람가"}                                    |
|10090|{"movie":"10090","title":"챔프","title_eng":"The Champ , 1979","year":1979,"grade":"NR"}                                            |
|10091|{"movie":"10091","title":"네 멋대로 해라","title_eng":"A Bout De Souffle , Breathless , 1959","year":0,"grade":"NR"}                |
|10092|{"movie":"10092","title":"네버엔딩 스토리","title_eng":"The NeverEnding Story , 1984","year":1988,"grade":"전체 관람가"}            |
|10093|{"movie":"10093","title":"러브 스토리","title_eng":"Love Story , 1970","year":1971,"grade":"15세 관람가"}                           |
|10094|{"movie":"10094","title":"마이 웨이","title_eng":"The Winners , My Way , 1975","year":1979,"grade":"NR"}                            |
|10095|{"movie":"10095","title":"고스트버스터즈","title_eng":"Ghostbusters , 1984","year":1984,"grade":"12세 관람가"}                      |
|10096|{"movie":"10096","title":"고스트버스터즈 2","title_eng":"Ghostbusters II , 1989","year":1990,"grade":"PG"}                          |
|10097|{"movie":"10097","title":"굿모닝 베트남","title_eng":"Good Morning, Vietnam , 1987","year":0,"grade":"15세 관람가"}                 |
|10098|{"movie":"10098","title":"자유의 댄스","title_eng":"Footloose , 1984","year":0,"grade":"PG"}                                        |
|10099|{"movie":"10099","title":"남과 여","title_eng":"Un Homme Et Une Femme , A Man And A Woman , 1966","year":1979,"grade":"15세 관람가"}|
|10100|{"movie":"10100","title":"탑건","title_eng":"Top Gun , 1986","year":2018,"grade":"15세 관람가"}                                     |
|10101|{"movie":"10101","title":"로마의 휴일","title_eng":"Roman Holiday , 1953","year":1955,"grade":"NR"}                                 |
|10102|{"movie":"10102","title":"사운드 오브 뮤직","title_eng":"The Sound Of Music , 1965","year":2017,"grade":"전체 관람가"}              |
|10103|{"movie":"10103","title":"닥터 지바고","title_eng":"Doctor Zhivago , 1965","year":2012,"grade":"12세 관람가"}                       |
|10104|{"movie":"10104","title":"사관과 신사","title_eng":"An Officer And A Gentleman , 1982","year":1983,"grade":"청소년 관람불가"}       |
+-----+------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [ ]:
ds.status

Intitializing Scala interpreter ...

In [28]:
ds.stop()

In [11]:
import org.apache.spark.sql.types._
// {"movie":"10010","title":"슈퍼맨 3","title_eng":"Superman III , 1983","year":0,"grade":"전체 관람가"}
val schema = StructType(
      StructField("movie", StringType, false) ::
      StructField("title", StringType, false) ::
      StructField("title_eng", StringType, false) ::
      StructField("year", IntegerType, true) ::
      StructField("grade", StringType, false) :: Nil)

import org.apache.spark.sql.types._
schema: org.apache.spark.sql.types.StructType = StructType(StructField(movie,StringType,false), StructField(title,StringType,false), StructField(title_eng,StringType,false), StructField(year,IntegerType,true), StructField(grade,StringType,false))

In [25]:
val movies = spark
  .readStream
  .format("kafka")
  .option("kafka.bootstrap.servers", "kafka:9093")
  .option("subscribe", "movies")
  .option("startingOffsets", "earliest")
  .load()

df.printSchema()

root
 |-- key: binary (nullable = true)
 |-- value: binary (nullable = true)
 |-- topic: string (nullable = true)
 |-- partition: integer (nullable = true)
 |-- offset: long (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- timestampType: integer (nullable = true)

movies: org.apache.spark.sql.DataFrame = [key: binary, value: binary ... 5 more fields]

In [26]:
val select = movies.select(col("key").cast("string"), from_json(col("value").cast("string"), schema).alias("movies"))

val sink = select
  .selectExpr("movies.title as title", "movies.year as year").as[(String, Int)]
  .writeStream
  .outputMode("append")
  .queryName("kafka-streaming")
  .format("kafka")
  .option("kafka.bootstrap.servers", "kafka:9093")
  .option("topioc", "kor_movies")
  .option("checkpointLocation", "/home/jovyan/work/data/tmp/kafka-sink")
  .start()

sink.awaitTermination()
sink.status

org.apache.spark.sql.streaming.StreamingQueryException:  Query kafka-streaming [id = 1d24ff78-619b-498e-9e22-ea3bf57bde66, runId = 6b96c306-83f7-4342-8c8d-87011dab5c8d] terminated with exception: org/apache/spark/sql/internal/connector/SupportsStreamingUpdate

In [ ]:
sink

In [12]:
val ds = select
  .writeStream
  .format("kafka")
  .option("kafka.bootstrap.servers", "kafka:9093")
  .option("topic", "kor_movies")
  .option("checkpointLocation", "/home/jovyan/work/data/tmp/scala/kafkasink")
  .start()

ds: org.apache.spark.sql.streaming.StreamingQuery = org.apache.spark.sql.execution.streaming.StreamingQueryWrapper@99db418

In [22]:
println(ds.status)

{
  "message" : "Stopped",
  "isDataAvailable" : false,
  "isTriggerActive" : false
}

In [23]:
ds.awaitTermination()

In [27]:
ds.stop()